html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: blue;  
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
}
  
footer {
    background-color: #0000FF;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}